<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>[(${title})]</title>

    <style type="text/css" rel="stylesheet" media="all">
        table td {
            vertical-align: top;
            border: solid 1px #888;
            padding: 10px;
        }
    </style>
</head>
<body>
<h2>[(${title})]</h2>

<table border="0" cellspacing="0" cellpadding="0">
    <tr th:each="field : ${fields}">
        <td>[(${field.key})]</td>
        <td>[(${field.value})]</td>
    </tr>
    <tr th:if="${stacktrace != null}">
        <td>Exceção</td>
        <td>
            <div th:each="line : ${stacktrace}">
                <pre>[(${line})]</pre>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
